## **IBM ASSIGNMENT 3**
*Mithesh A (2019503533)*

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = 'Hi there Sam!'

In [3]:
s.split()

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [10]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [11]:
def domainGet(email):
    return email.split('@')[-1]

In [12]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [13]:
def find_3533(st):
    return 'dog' in st.lower().split()

In [14]:
find_3533('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [15]:
def count_3533(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [16]:
count_3533('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [17]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [18]:
caught_speeding(81,True)

'Small Ticket'

In [19]:
caught_speeding(81,False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [20]:
basic_salary = [100, 200, 300, 400, 500]
total = 0

for x in basic_salary:
    total += x

print(total)

1500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [22]:
dict1 = {'Empid' : 2019503533, "Empname" : "Mithesh A", "Basicpay" : 360000}
dict2 = { "DeptName" : "Computer science", "DepId" : 1}
print(dict1)
print(dict2)

def Merge(dict1, dict2):
    return(dict2.update(dict1))

Merge(dict1,dict2)
print(dict2)

{'Empid': 2019503533, 'Empname': 'Mithesh A', 'Basicpay': 360000}
{'DeptName': 'Computer science', 'DepId': 1}
{'DeptName': 'Computer science', 'DepId': 1, 'Empid': 2019503533, 'Empname': 'Mithesh A', 'Basicpay': 360000}